

.navbar-brand img{
    margin: auto;
    width: 50%;
}

.navbar-brand{
    margin: auto;
    text-align: center;
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}

#nav-principal{
    text-align: center;
    margin: auto;
}

#linhaCab{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    background-color: #dcdcdc;
}

#areaInputCadastro{
    background-color: #ffc107;
}

#tarjaSuperior{
    text-align: center;
    margin: auto;
}

.container{
    margin: auto;
    text-align: center;
}

#logo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#carrosselInicio{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#divCarrossel{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#prazo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
}

#botaoCadastrar{
    width: 20%;
    margin: auto;
    box-shadow: 0 0 1em black;
    background-color: #03bb85;
}

#idEditarCliente{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 10%;
}

#nomeEditarCliente{
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

#sobrenomeEditarCliente{
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

#idadeEditarCliente{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

#idCl{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
    font-style:italic;
}

#nomeCl{
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    border-color: #696969;
    background-color: #ffffe0;
}

#sobrenomeCl{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    border-color: #696969;
    background-color: #ffffe0;
}

#idadeCl{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    border-color: #696969;
    background-color: #ffffe0;
}

#myTable{  
    text-align: left;
    width: 60%;
    margin: auto;
    font-size: medium;
}

#myTable button{
    background-color: grey;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: small;
}

#simTable{  
    text-align: center;
    width: 60%;
    margin: auto;
}

.btn-outline-success{
    width: 40%;
    margin: auto;
}

#gerarLista{
width: 30%;
margin:auto;
}

#simularEmp{
    width: 40%;
    margin: auto;

}

#botaoConfEdit{
    width: 20%;
}

#botaoSimular{
    width: 20%;
}

#valorEmp{
    width: 40%;
    margin: auto;
    font-style:italic;
}

#prazoEmp{
    width: 40%;
    margin: auto;
    font-style:italic;
}


.nomeBanco{
position: absolute;
width: 589px;
height: 105px;
left: 425px;
top: 6px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 90px;
line-height: 105px;
display: flex;
align-items: center;
text-align: center;

color: #B5CF15;
}




.formulario{
position: absolute;
width: 467px;
height: 346px;
left: 486px;
top: 239px;
}


