#home {
	background: #ffc107;
	color: white;
}

#carouselExampleDark{
	width: 50%;
	margin: auto;
}

#nav-principal{
	color: #451776;
}

#extra{
	margin: auto;
	padding: 10px;
	width: 100%;
}

#botaoSair{
	width: 150%;
    box-shadow: 0 0 5px white;
}

#descompl{
	color: #451776;
}

#frase{
	color: #72418c;
}

#popover{
	background-color: #d289d6;
    color: #451776;
    font-weight: bold;
	border: none;
	width: 50%;
    box-shadow: 0 0 5px #451776;
}

#body{
	background-color:lightgrey;
    height: 100%;
}

#logoEnd{
	margin: auto;
	
	width: 30%;
	
}

#divFim{
	text-align: center;
	margin: auto;
}

img{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.container{
    margin: auto;
    text-align: center;
}

#carrosselInicio{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#divCarrossel{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#prazo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
}

#botaoCadastrar{
    width: 20%;
    margin: auto;
    align-self: center;
    justify-self: center;
    color: #451776;
    border: 1px solid #451776;
    font-weight: bold;
    background-color: #d289d6;
    box-shadow: 0 0 1em #451776;
}

#idEditarCliente{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 10%;
    font-style:italic;
    background-color: lavender;
}

#nomeEditarCliente{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    background-color: lavender;
}

#sobrenomeEditarCliente{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    background-color: lavender;
}

#idadeEditarCliente{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    background-color: lavender;
}

#idCl{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 40%;
    font-style:italic;
}

#nomeCl{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    background-color: lavender;
}

#sobrenomeCl{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    background-color: lavender;
}

#idadeCl{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    background-color: lavender;
}

#myTable{  
    text-align: left;
    width: 60%;
    margin: auto;
    font-size: medium;
    background-color: lightgray;
}

#myTable th{
    background-color: lightgray;
    color: #451776;
}

#myTable button{
    background-color: #451776;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: small;
    width: 50%;
}

#simTable{  
    text-align: center;
    width: 60%;
    margin: auto;
}

#simTable th{
    background-color: lightgray;
    color: #451776;
}

.btn-outline-success{
    width: 40%;
    margin: auto;
}

#gerarLista{
width: 30%;
margin:auto;
}

#simularEmp{
    width: 40%;
    margin: auto;

}

#botaoConfEdit{
    width: 20%;
    margin: auto;
    align-self: center;
    justify-self: center;
    color: #451776;
    border: 1px solid #451776;
    font-weight: bold;
    background-color: #d289d6;
    box-shadow: 0 0 1em #451776;
}

#botaoSimular{
    width: 20%;
    margin: auto;
    align-self: center;
    justify-self: center;
    color: #451776;
    border: 1px solid #451776;
    font-weight: bold;
    background-color: #d289d6;
    box-shadow: 0 0 1em #451776;
}

#valorEmp{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    background-color: lavender;
    font-style:italic;
}

#prazoEmp{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 30%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-style:italic;
    background-color: lavender;
    font-style:italic;
}


.nomeBanco{
position: absolute;
width: 589px;
height: 105px;
left: 425px;
top: 6px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 90px;
line-height: 105px;
display: flex;
align-items: center;
text-align: center;

color: #B5CF15;
}




.formulario{
position: absolute;
width: 467px;
height: 346px;
left: 486px;
top: 239px;
}


footer{
    text-align: center;
    width: 100%;
}